* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: cell;
}

:root {
  --bg-color: #008080;
  --text-color: #12adc2;
  --normal: black;
  --white: #fff;
}

body {
  background: black;
}
body .navmain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem 0;
  border-bottom: 0.09rem solid rgba(223, 120, 120, 0.863);
  padding-top: 2rem;
}
body .navmain .side h2 {
  padding: 0 2rem;
  font: 2.3rem "Poppins", sans-serif;
  color: white;
  cursor: none;
}
body .navmain .links {
  padding-right: 8rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
body .navmain .links ul .link {
  text-decoration: none;
  padding: 1rem;
  margin-right: 1.2rem;
  font: 1rem "PT Sans Narrow", sans-serif;
  color: var(--text-color);
  cursor: cell;
}
body .navmain .links ul .link:hover {
  color: #fff;
}
body .alo {
  display: flex;
  flex-direction: row;
}
body .alo .homepage {
  margin: 5rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
body .alo .homepage .homeimage {
  display: flex;
  flex-direction: row;
  padding-top: 9rem;
}
body .alo .homepage .homeimage i {
  color: var(--white);
  font-size: 2rem;
  padding: 1rem;
  -webkit-animation: rotation 10s infinite linear;
          animation: rotation 10s infinite linear;
}
body .alo .homepage .hometext {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  align-items: left;
}
body .alo .homepage .hometext h2 {
  font: 3rem "PT Sans Narrow", sans-serif;
  color: var(--text-color);
}
body .alo .homepage .hometext p {
  font: 1.2rem "Poppins", sans-serif;
  color: white;
  padding: 2rem 15rem 4rem 0;
}
body .alo img {
  height: 40rem;
  padding-top: 12rem;
}
body .about {
  background-color: black;
  padding: 4rem 0;
}
body .about .header {
  display: block;
  text-align: center;
  font: 1.3rem "Poppins", sans-serif;
  padding: 2rem 1rem 7rem;
  color: rgba(223, 120, 120, 0.863);
}
body .about .tables {
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 4rem;
  font: 1rem "PT Sans Narrow", sans-serif;
}
body .about .tables .firtable {
  border-right: 0.2rem solid rgba(223, 120, 120, 0.863);
}
body .about .tables .firtable img {
  height: 8rem;
}
body .about .tables .firtable .text-1 {
  padding: 2rem;
}
body .about .tables .firtable .text-1 h2 {
  text-align: center;
  color: rgba(223, 120, 120, 0.863);
  padding: 0 0 1.2rem;
}
body .about .tables .firtable .text-1 p {
  text-align: left;
  padding: 0 6rem;
  color: white;
}
body .about .tables .second-2 img {
  height: 8rem;
}
body .about .tables .second-2 .text-1 {
  padding: 2rem;
}
body .about .tables .second-2 .text-1 h2 {
  text-align: center;
  padding: 0 0 1.2rem;
  color: rgba(223, 120, 120, 0.863);
}
body .about .tables .second-2 .text-1 p {
  text-align: left;
  padding: 0 6rem;
  color: white;
}
body .customer {
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: white;
  font-family: "Poppins", sans-serif;
}
body .customer .service {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
body .customer .service h2 {
  font-size: 2rem;
  background: white;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .customer .servicerender {
  display: flex;
  justify-content: space-between;
  margin: 2rem 8rem 0;
  padding: 0 0 4rem;
}
body .customer .servicerender .projects img,
body .customer .servicerender .softwaredev img,
body .customer .servicerender .systemanalys img {
  height: 10rem;
  width: auto;
  padding: 0 1rem 1rem;
  border-right: 0.2rem solid #00FFFF;
  border-bottom: 0.2rem solid #00FFFF;
}
body .customer .servicerender .projects p,
body .customer .servicerender .softwaredev p,
body .customer .servicerender .systemanalys p {
  color: white;
  padding: 0.9rem 0 0;
  font-size: 1rem;
}
body .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 3rem;
  border-top: 0.2rem solid rgba(223, 120, 120, 0.863);
}
body .contact .side-1 {
  font-family: "Poppins", sans-serif;
}
body .contact .side-1 h2 {
  color: #00FFFF;
  font-size: 2rem;
  font-weight: 100;
  padding: 0 0 0.7rem;
}
body .contact .side-1 p {
  font-size: 1rem;
  color: white;
}
body .contact .side-2 {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .contact .side-2 .link {
  text-decoration: none;
  color: #FFF;
  padding: 1rem;
  margin: 1rem;
  border: 0.2rem solid rgba(223, 120, 120, 0.863);
  border-radius: 1rem;
}
body .contact .side-2 .link i {
  padding-left: 0.4rem;
}
body .contact .side-2 .link:hover {
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0.2rem solid white;
  border-radius: 1rem;
}
body .contact .side-3 {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}/*# sourceMappingURL=index.css.map */