* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: cell;
}

:root {
    --bg-color: #008080;
    --text-color: #12adc2;
    --normal: black;
    --white: #fff;
}

body {

    background: black;

    .navmain {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 3rem 0;
        border-bottom: .09rem solid rgba(223, 120, 120, 0.863);
        padding-top: 2rem;


        .side {

            h2 {
                padding: 0 2rem;
                font: 2.3rem 'Poppins', sans-serif;
                color: white;
                cursor: none;


            }
        }

        .links {
            padding-right: 8rem;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            ul {



                .link {
                    text-decoration: none;
                    padding: 1rem;
                    margin-right: 1.2rem;
                    font: 1rem 'PT Sans Narrow', sans-serif;
                    color: var(--text-color);
                    cursor: cell;
                }
                .link:hover{
                    color: #fff;
                }
            }
        }
    }

    .alo {

        display: flex;
        flex-direction: row;

        .homepage {
            margin: 5rem 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;


            .homeimage {
                display: flex;
                flex-direction: row;
                padding-top: 9rem;

                i {
                    color: var(--white);
                    font-size: 2rem;
                    padding: 1rem;
                    animation: rotation 10s infinite linear;
                }
            }

            .hometext {
                margin: 2rem;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: left;
                align-items: left;

                h2 {
                    font: 3rem 'PT Sans Narrow', sans-serif;
                    color: var(--text-color);
                }

                p {
                    font: 1.2rem 'Poppins', sans-serif;
                    color: white;
                    padding: 2rem 15rem 4rem 0;
                }
            }
        }

        img{
         height: 40rem;
         padding-top: 12rem;
        }
    }

    .about {
        background-color: black;
        padding: 4rem 0;
        

        .header {
            display: block;
            text-align: center;
            font: 1.3rem 'Poppins', sans-serif;
            padding: 2rem 1rem 7rem;
            color: rgba(223, 120, 120, 0.863)
        }

        .tables {
            display: flex;
            align-items: center;
            text-align: center;
            padding-bottom: 4rem;
            font: 1rem 'PT Sans Narrow', sans-serif;

            .firtable {
                border-right: .2rem solid rgba(223, 120, 120, 0.863);

                img {
                    height: 8rem;
                }

                .text-1 {
                    padding: 2rem;

                    h2 {
                        text-align: center;
                        color: rgba(223, 120, 120, 0.863);
                        padding: 0 0 1.2rem;
                    }

                    p {
                        text-align: left;
                        padding: 0 6rem;
                        color: white;
                    }
                }
            }

            .second-2 {
                img {
                    height: 8rem;
                }

                .text-1 {
                    padding: 2rem;

                    h2 {
                        text-align: center;
                        padding: 0 0 1.2rem;
                        color: rgba(223, 120, 120, 0.863);
                    }

                    p {
                        text-align: left;
                        padding: 0 6rem;
                        color: white;
                    }
                }
            }
        }
    }

    .customer {
        background: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        color: white;
        font-family: 'Poppins', sans-serif;

        .service {
            padding: 2rem;
            display: flex;
            justify-content: center;

            h2 {
                font-size: 2rem;
                background: white;
                background-position: center;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .servicerender {

            display: flex;
            justify-content: space-between;
            margin: 2rem 8rem 0;
            padding: 0 0 4rem;

            .projects,
            .softwaredev,
            .systemanalys {

                img {
                    height: 10rem;
                    width: auto;
                    padding: 0 1rem 1rem;
                    border-right: .2rem solid #00FFFF;
                    border-bottom: .2rem solid #00FFFF;
                }

                p {
                    color: white;
                    padding: .9rem 0 0;
                    font-size: 1rem;
                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        padding: 3rem;
        border-top: .2rem solid rgba(223, 120, 120, 0.863);

        .side-1 {
            font-family: 'Poppins', sans-serif;

            h2 {
                color: #00FFFF;
                font-size: 2rem;
                font-weight: 100;
                padding: 0 0 .7rem;
            }

            p {
                font-size: 1rem;
                color: white;
            }
        }

        .side-2 {
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: row;
            align-items: center;

            .link {
                text-decoration: none;
                color: #FFF;
                padding: 1rem;
                margin: 1rem;
                border: .2rem solid rgba(223, 120, 120, 0.863);
                border-radius: 1rem;

                i {
                    padding-left: .4rem;
                }
            }

            .link:hover {
                color: #fff;
                padding: 1rem;
                margin-bottom: 1rem;
                border: .2rem solid white;
                border-radius: 1rem;
            }
        }

        .side-3 {
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;

        }
    }























    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }

}